@font-face {
    font-family: "BallineItalic";
    src: url('fonts/BallineItalic.ttf') format('truetype');
}
@font-face {
    font-family: "DolomanPavljenko";
    src: url('fonts/DolomanPavljenko.otf') format('truetype');
}
@font-face {
    font-family: "Balline";
    src: url('fonts/Balline.ttf') format('truetype');
}
@font-face {
    font-family: "Stripe_black";
    src: url('fonts/Stripe_black.ttf') format('truetype');
}
@font-face {
    font-family: "BetmoRegularCyr";
    src: url('fonts/BetmoRegularCyr.otf') format('truetype');
}
@font-face {
    font-family: "Ladiosa";
    src: url('fonts/Znikomit.otf') format('truetype');
}
@font-face {
    font-family: "GuardianCircus";
    src: url('fonts/mr_GuardianCircusG.otf') format('truetype');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.invitation {
    max-width: 800px;
    margin: 20px auto;
    padding-bottom: 50px;
  
    box-shadow: 0 0 10px rgba(41, 11, 9, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("./media/images/IMG_6591.JPG");
    background-position: center;
    background-size: contain;
    text-align: center;
    position: relative;
}

#soundButton {
    position: relative;
    padding: 0.3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
  }
  
  #soundButton img {
    max-width: 50px;
  }
  
  .off::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid #8b5a2b;
    transform: rotate(-45deg);
  }
  
  #soundButton:active {
    transform: scale(0.9);
  }

h1,h2 {
    margin: 0;
    color: #8b5a2b;
    line-height: 65px;
    font-size: 5rem;
    font-family: "BetmoRegularCyr", sans-serif;
    font-weight: 200;
}
h3 {
    font-family: "Ladiosa", sans-serif;
    font-size: 2rem;
    color: #8b5a2b;
    font-weight: 100;
}
p {
    color: #331e0b;
    margin-top: 10px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
header {
    background-color: white;
}
.name {
    font-family: "GuardianCircus", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    line-height: 80px;
    gap: 30px;
    margin-top: 70px;
}
.name1 {
    align-self: flex-start;
    color: #966741;
    font-size: clamp(75px, 15vw, 120px);
}
.name2 {
    font-size: clamp(75px, 15vw, 120px);
    color: #f5b4c9;
}
.name3 {
    align-self: flex-end;
    color: #966741;
    font-size: clamp(75px, 15vw, 120px);
}
@media screen and (max-width: 600px) {
    .name {
        gap: 0;
        line-height: 80px;
        font-size: 100px;
    }
}
.name p {
    color: #8b5a2b;
}
.and {
    font-family: "BetmoRegularCyr", sans-serif;
}

/* Полароид */
.photos {
    align-items: center;
    gap: 20px;
    background-color: white;
}
.polaroids {
    display: flex;
    justify-content: center;
    align-items: center; 

    margin-top: 30px;
    padding: 10px 20px;
}
@media screen and (max-width: 600px) {
    .polaroids {
        flex-direction: column;
    }
}
.polaroid {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 25px;
    border: 1px solid #dfd2d2;
    box-shadow: 0 2px 8px rgba(10, 2, 2, 0.2);
    max-width: 350px;
    transform: rotate(-5deg);
    width: 100%; 
}
@media screen and (max-width: 600px) {
    .polaroid {
        max-width: 450px;
    }
}

.first-photo {
    align-self: start;
}
.second-photo {
    transform: rotate(8deg); 
    align-self: end;
    margin-top: 120px;
}
@media screen and (max-width: 600px) {
    .second-photo {
        margin-top: 10px;
    }
}
.polaroid img {
    max-width: 100%;
    border-radius: 5px;
}

.caption {
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-family: "Ladiosa", sans-serif;
    color:#331e0b;
}
.span {
    color: #f5b4c9;
    font-family: "BallineItalic", sans-serif;
}

/* Обращение */
.welcome {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}
.text {
    max-width: 450px;
    font-family: "DolomanPavljenko", sans-serif;
    font-size: 25px;
}
.data {
    font-size: clamp(37px, 12vw, 80px);
    font-family: "BetmoRegularCyr", sans-serif;
    color: #8b5a2b;
}

/* Location */
.map {
    font-family: "DolomanPavljenko", sans-serif;
    font-size: 1.8rem;
    gap: 50px;
    background-color: white;
    margin-top: 50px;
    padding: 40px 10px;
}
.location {
    display: flex;
    gap: 20px;
}
@media screen and (max-width: 600px) {
    .location {
        flex-direction: column;
    }
}
.location-image {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 20px;
}
.location-image img {
    width: 100%;
    border-radius: 100px;
}
.location-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 200px;
    padding: 40px;
    background-color: #fae7ed;
}
.location-name {
    font-weight: 700;
}
.link {
    color:#331e0b;
    text-decoration: none;
    margin-top: 70px;
}
.link:hover {
    text-decoration:underline;
}

/* Тайминг */
.timing-container {
    padding: 40px 0;
    background-color: white;
}
.timing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 50px;
    padding: 0 40px;
}
.time {
    font-size: 50px;
    font-weight: 900;
    color: #8b5a2b;
}
.textBold {
    font-weight: 600;
    font-size: 30px;
    font-family: "Ladiosa", sans-serif;
    color: #8b5a2b;
}
.timing-icon {
    width: 80px;
}
.timing-icon img {
    width: 100%;
}
/* Дресс-код */
.dress {
    align-items: center;
    margin-top: 50px;
}
/* Детали */
.details {
    align-items: center;
    margin-top: 50px;
}
/* Анкета гостя */
.RSVP {
    font-family: "DolomanPavljenko", sans-serif;
    background-color: #fae7ed;
    border-radius: 200px;
    padding: 40px;
    margin-top: 50px;
}
.notification {
    font-size: 20px;
    font-family: "DolomanPavljenko", sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    font-family: "DolomanPavljenko", sans-serif;
    font-size: 20px;
    border-radius: 40px;
    padding: 20px; 
}

form label {
    margin-top: 10px;
    margin-left: 20px;
    text-align: start;
}

form input[type="text"],
form select {
    font-family: "DolomanPavljenko", sans-serif;
    font-size: 18px;
    padding: 15px;
    margin-top: 5px;
    border: 2px solid #8b5a2b;
    border-radius: 50px;
    appearance: none;
    cursor: pointer;
}
form select:hover {
    background-color: #e7cfc1;
}
form input[type="text"]:focus,
form select:focus {
    background-color: #e7cfc1;
    outline: none; 
}
form input[type="radio"] {
    accent-color: #8b5a2b;
    margin-right: 5px; 
}
.notification2 {
    text-align: start;
    margin-left: 20px;
}
.button {
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #8b5a2b;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
    font-family: "DolomanPavljenko", sans-serif;
    align-self: center;
}

.button:hover {
    background-color: #a06b4c;
}

/* Отсчет */
.countdown {
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    gap: 2rem;
}

#countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 3rem;
}
@media screen and (max-width: 425px){
    #countdown {
        font-size: 2rem ;
    }
}

#countdown div {
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    font-family: "Stripe_black", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#331e0b;
}

#countdown span {
    display: block;
    color: #8b5a2b;
    font-family: "Balline", sans-serif;
    line-height: 10px;
}

.autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view(80% 10%);
}
  
  @keyframes autoShowAnimation {
    from {
      opacity: 0;
      transform: translateY(100px) scale(0.8);
    }
  
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h2 {
    z-index: 1001;
}